html, body {
    padding: 0px 0px;
    margin: 0px 0px;
}

textarea, input {
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inline {
    display: inline-block;
    position: relative;
}

.inline-flex {
    display: inline-flex;
    position: relative;
}

.background {
    width: 90%;
    min-height: 10%;
    height: 100%;
    background-color: rgb(178, 199, 217);
    padding: 15px;
    margin: 20px 20px;
    position: relative;
}

.fake-box {
    background-color: transparent;
    border-width: 0px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    top: 0px;
}

.nickname-box {
    display: block;
    margin-left: 4px;
    margin-bottom: 7px;
    position: relative;
    color: rgb(38, 38, 38);
    font-family: "맑은 고딕";
    font-size: 12px;
}

.talk-mark {
    width: 8px;
    height: 9px;
	border-radius: 2px;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 2px);
    box-shadow: -2px 1px 1px 0px rgba(180, 180, 180, 0.75);
    position: relative;
    left: -2px;
    top: 5px;
    z-index: 9999;
}

.talk-box {
    vertical-align: top;
    top: -2px;
}

.extra-box {
    right: 0px;
    display: block;

    font-family: "맑은 고딕";
    font-size: 11px;
    height: auto;
    padding: 0px 0px;
}

.reader-count-box {
    color: rgb(255, 234, 64);
    width: 5ch;
    text-shadow: 1px 1px 1px rgba(180, 180, 180, 0.75);
}

.sentdate-box {
    width: 10ch;
    color: rgb(64, 64, 64);
}

.message-box {
    background-color: white;
    position: relative;
    border-radius: 3px;
	padding-left: 8px;
	padding-right: 8px;
    padding-top: 4px;
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.75);
	left: -3px;
}

.message-container {
    position: relative;
}

.text-box {
	color: rgb(38, 38, 38);
    font-size: 12px;
    height: 24px;
    min-width: 16px;
    max-width: 200px;
    font-family: "맑은 고딕";
    resize: none;
    vertical-align: middle;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 0px;
}